

h1{
	padding:25px 0px 0px 40px;
	color:#333333;
	font-weight:normal;
}
input, textarea, select{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:2px grey solid ;
	padding:5px;
	outline:none;
	font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color:#333333;
	background:url('img/input-bg.jpg') repeat;

}
input[type=checkbox], input[type=radio]
{

	background:none;
	border:none;
}

#header-centered{
	width:980px;
	height:100px;
	margin:auto;
	background-color:#2893c9;
	-webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 11px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 11px 0px rgba(50, 50, 50, 0.75);}

#wrapper {
	width:980px;
	height:auto;
	margin:auto;
	background-color:#CCCCCC;
	margin-top:5px;
	-webkit-box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 5px 11px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 5px 11px 0px rgba(50, 50, 50, 0.75);
}
#form-wrapper{
	padding-top:25px;
	padding-bottom:25px;
	display:inline-block;
}
#myForm ul{
	float:left;
	margin-right:30px;
}
#myForm ul li{
	display:block;
	margin-top:15px;
}
#myForm ul li.nolabel{
	margin:0px 0px 5px 140px;
}
label{
	width:140px;
	display: inline-block;
	color:#333333;

}
textarea{
	width:350px;
	height:100px;
}

