@model BookingSystem.Models.Shows

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Shows</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>

                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" type="date" value="@DateTime.Now.ToString("dd/MM/yyyy")" data-date-format="dd/mm/yyyy" class="form-control" />

                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullPrice" class="control-label"></label>
                <input asp-for="FullPrice" class="form-control" />
                <span asp-validation-for="FullPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConcessionPrice" class="control-label"></label>
                <input asp-for="ConcessionPrice" class="form-control" />
                <span asp-validation-for="ConcessionPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
